# Exercise Variables - 1
Create a firstName variable and assign the value Mario to it.

In [11]:
firstName="Mario"
firstName

'Mario'

# Exercise Variables - 2
Create an age variable and assign the value 25 to it.

In [7]:
age=25
age

25

# Exercise Variables - 3
Create a sentence variable and assign the value Hello, I'm Mario! to it without using double quotes.

In [32]:
sentence='Hello, I\'m Mario!'
sentence

"Hello, I'm Mario!"

# Exercise Variables - 4
Create an amount variable and assign a float value to it.

In [31]:
amount=3,14
amount

(3, 14)

# Exercise Variables - 5
Create a set of 3 variables and assign True as value of each one.

In [22]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

# Exercise Variables - 6
Remove the illegal characters in the variable 1my-first2_Name = 'Mario'.

In [28]:
my_first2_Name='Mario'
my_first2_Name

'Mario'

# Exercise Variables - 7
Write single quotes or double quotes correctly

In [33]:
print('You can use "double quotes" like this.')

You can use "double quotes" like this.

# Exercise Variables - 8
Create 3 different variables and assign 3 different values. Write only one operation. Print them on terminal

In [12]:
var1='i '
var2='love '
var3='Develhope'
print(var1+var2+var3)
#corrected answer⬇️
var1,var2,var3='Abdullah','is the','Best'
print(var1+' '+var2+' '+var3)

i love Develhope
Abdullah is the Best

# Exercise Variables - 9
Swap the value of the variables

In [8]:
var1=3
var2=7
var1=var2
print(var1)
print(var2)
#corrected answer⬇️
var1,var2=var2,var1
print(var1)
print(var2)

7
7
7
7

# Exercise Variables - 10
Print the length of each variable.

In [3]:
hello ="Hello!"
name ="John Doe"
age="40"

print(len(hello))
print(len(name))
print(len(age))

6
8
2

# Exercise Variables - 11
Modify the variables as suggested

In [5]:
a = 'hello' #capitalize
b = 'tom' #uppercase
c = 'LAURA' #lowercase
question = 'How are you' #change o in e
age_question = 'How old are you?' #use the correct method to create a string for each word
print(a.capitalize(), b.upper(), c.lower(), question.replace("o","e"), age_question)
#corrected answer⬇️
print(age_question.split())

Hello TOM laura Hew are yeu How old are you?
['How', 'old', 'are', 'you?']

# Exercise Variables - 12
Create two variables called name and age. Then create a variable called hello and print the name and the age. Use the formatted string literal.

In [79]:
name="Mike"
age=30
print("Hello, ",name,". You are", age)

Hello,  Mike . You are 30

# Exercise Operators - 1

Insert the appropriate logical operator in order to print False

In [5]:
print(False and True) # Should print False

False

# Exercise Operators - 2
Change the logical operators in order to print True

In [83]:
print(False or (0 != 0 or True)) # Should print True

True

# Exercise Operators - 3
Print the rest of the 5/2 division

In [7]:
print(5/2)
#corrected answer⬇️
print(5%2)

2.5
1

# Exercise Operators - 4

Insert the appropriate logical operator in order to print True.

In [88]:
print(not ("testing" == "testing" and "Mario" == "Cool Guy")) # Should print True

True

# Exercise Operators - 5

Initialize and print the sentence variable using the appropriate operators.

In [100]:
firstName = "Mario"
lastName = "Rossi"

sentence = '"'+firstName+" "+ lastName+'"'

print(sentence) # Should print "Mario Rossi"

"Mario Rossi"

# Exercise Operators - 6

Check if "Nike" is in brands array using the appropriate logical operator

In [115]:
brands = ["Adidas", "Nike"]
exists="Nike" in brands
print(exists)

True

# Exercise Operators - 7
Check if "Reebok" is not in brands array using the appropriate logical operator

In [114]:
brands = ["Adidas", "Nike"]
exists="Reebok" in brands
print(exists)

False

# Exercise Methods - 1


With type command you can see the type of a variable in python eg: type(1) print each components type with this way you can see most significant data types in python

In [6]:
print(str("Hello World"))
print(bool(True))
print(bool(False))
print(int(33))
print(float(24.5))
print(str(4+1j))
print(complex(4j))
print(list(["lion", "monkey", "dog","fish"]))
print(tuple(("lion", "monkey", "dog","fish")))
print(dict({"name" : "John", "surname" : "Doe", "age":22}))
print(list({"lion", "monkey", "dog","fish"}))
#corrected answer⬇️
print(type("Hello World"))
print(type(True))
print(type(False))
print(type(33))
print(type(24.5))
print(type(4+1j))
print(type(4j))
print(type(["lion", "monkey", "dog","fish"]))
print(type(("lion", "monkey", "dog","fish")))
print(type({"name" : "John", "surname" : "Doe", "age":22}))
print(type({"lion", "monkey", "dog","fish"}))

Hello World
True
False
33
24.5
(4+1j)
4j
['lion', 'monkey', 'dog', 'fish']
('lion', 'monkey', 'dog', 'fish')
{'name': 'John', 'surname': 'Doe', 'age': 22}
['dog', 'fish', 'lion', 'monkey']
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

# Exercise Methods - 2


the number types can be converted to each other wit the int() float() complex() methods also float numbers can be rounded with the method round()
<ol>
<li>convert num1 to float and assign to itself</li>
<li>convert num2 to int and assign to itself</li>
<li>convert num3 to complex and assign to itself</li>
<li>use round method for num4 and assign to itself</li>
<li>use round method for num5 and assign to itself</li>
<li>print them all</li>
<li>print their types</li>
</ol>

In [14]:
num1 = 1.3
num2 = 2.3
num3 = 1j 
num4 = 1.4 
num5 = 1.5
print(float(num1))
print(int(num2))
print(complex(num3))
print(round(num4))
print(round(num5))

1.3
2
1j
1
2

# Exercise Methods - 3


to convert a number to string we can use str() function this is called casting

<ol>
<li>cast num1 to string and assign to num1_str</li>
<li>check the length of the string</li>
<li>get the third element of string (the one in the 3rd order)</li>
<li>get the 3-5 elements of string (both inclusive) by string slicing</li>
<li>check if num2 in string (cast if necessary)</li>
<li>check if num3 in string (cast if necessary)</li>
<li>concatenate 0 to the string from left and assign to string_with_0</li>
<li>get the characters of string_with_0 from start to position 4 (end point exclusive)</li>
<li>get the characters of string_with_0 from position 5 until the end</li>
<li>use negative indexing to reach the "567" string_with_0</li>
</ol>

In [43]:
num1 = 1122334455666
num1_str=str(num1)
print("1. Answer :", type(num1_str))
print("2. Answer :", len(num1_str))
print("3. Answer :", num1_str[3])
print("4. Answer :", num1_str[3:5])
print("5. Answer :", num1_str.__contains__('2'))
print("6. Answer :", num1_str.__contains__('3'))
string_with_0='0'+num1_str
print("7. Answer :", string_with_0)
print("8. Answer :", string_with_0[4:len(string_with_0)])
print("9. Answer :", string_with_0[5:len(string_with_0)])
print("10. Answer :", string_with_0[-4:-1],"Ps: i didn't understand the question correctly i guess. There is no 7 in this string so i can't create 567")

1. Answer : <class 'str'>
2. Answer : 13
3. Answer : 2
4. Answer : 23
5. Answer : True
6. Answer : True
7. Answer : 01122334455666
8. Answer : 2334455666
9. Answer : 334455666
10. Answer : 566 Ps: i didn't understand the question correctly i guess. There is no 7 in this string so i can't create 567

# Exercise Conditions - 1

print if num1 or num2 is greater num1 = 335 num2 = 66

In [159]:
num1 = 335
num2 = 66

if num1 > num2:
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num1} is not greater than {num2}")

335 is greater than 66

# Exercise Conditions - 2

<p _ngcontent-xje-c192=""><p>check if number1 is greater than number 2 and print <code>number1 is greater than number2</code> 
then check and if number 2 is greater than number 1 and print <code>number2 is greater than number1</code> 
finally at the end if both conditions incorrect print <code>number2 equals to number1</code></p>
<p>number1 = 66
number2 = 66</p>
</p>

In [162]:
number1 = 66
number2 = 66

if number1>number2:
    print(f"{number1} is greater than {number2}")
elif number1<number2:
    print(f"{number2} is greater than {number1}")    
else:
    print(f"{number1} equals to {number2}")

66 equals to 66

# Exercise Conditions - 3
Compare those 2 numbers and write X greater than Y But be sure you are making the check for all the conditions

In [167]:
import random

number1 = random.randint(1,100)
number2 = random.randint(1,100)

# Compare the numbers to eachother 

if number1>number2:
    print(f"{number1} is greater than {number2}")
elif number1<number2:
    print(f"{number2} is greater than {number1}")    
else:
    print(f"{number1} equals to {number2}")

89 is greater than 54

# Exercise Conditions - 4
<p>Compare those 2 numbers' absolute values 
 and write <code>X's absolute value greater than Y's absolute value</code>
Use <code>abs</code> function to do that<br>eg.<br><code>abs(-5)</code> -&gt; 5<br>abs function makes all numbers positive </p>

In [174]:
import random

number1 = random.randint(-100,100)
number2 = random.randint(-100,100)

    
if abs(number1)>abs(number2):
    print(f"{number1}'s absolute value greater than {number2}'s absolute value")
elif abs(number1)<abs(number2):
    print(f"{number2}'s absolute value greater than {number1}'s absolute value ")    
else:
    print(f"{number1}'s absolute value equals to {number2} 's ablolute value")

55's absolute value greater than -21's absolute value