# Iterators - Exercise 1 üêç

create 

*
**
***
****
*****

this shape with print and while loop statemets

In [1]:
i = 1
while i <= 5 :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

# Iterators - Exercise 2 üêç

create 
`
*
***
*****
`
this shape with print, for loop, if and continue statements

In [2]:
i = 5
for i in range(i):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

*

* *

* * *

* * * *

* * * * *

# Iterators - Exercise 3 üêç

check if it is time for `coffee break` if it is just break 
to do that lets iterate through given list don't change the `COFFEE BREAK` statement
just find another way to do it

In [3]:
todo = ["exercise1", "exercise2", "exercise3","coffee break" ,"exercise4","exercise5","exercise6"]
for x in todo:
    print(x)
    if x == "COFFEE BREAK".lower():
        break

exercise1
exercise2
exercise3
coffee break

# Iterators - Exercise 4 üêç


iterate each elements of `list1`,`tuple1`,`set1` and print them out 

for the `dict1` iterate all elements but only print the ones who are living on land
in the form of `x lives in y`

In [4]:
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
print(*list1)
print(*tuple1)
print(*set1,"\n")
    
dict1 = {"lion":"land", "monkey":"land", "dog":"land","fish":"water"}
for keys,value in dict1.items():
    if value=="land":
        print(keys," lives in ",value)

lion monkey dog fish
lion monkey dog fish
fish monkey dog lion

lion  lives in  land
monkey  lives in  land
dog  lives in  land

# Data Structures üêç

Remember `list`,`set`,`dictionary` are mutable and `tuple` is immutable
`list`,`tuple` elements can be reached by index  
for `dictionary` it is not an option to reach by index the element key has to be known to reach  
and for `set` the items cannot be reached directly but it is possible to iterate.

1. print the lengths of `list1`,`tuple1`,`set1`,`dict1`
2. print the first element of `list1` and `tuple1`
3. print the value of `lion` key of `dict1`
4. change the 2nd position element of `list1` to "rabbit"
5. try to change the 2nd position element of the tuple to "rabbit" and explain what happened.
6. add "monkey" to `list1`
7. remove "rabbit" from `list1`
8. in `dict1` the number of feet is written as value to each animal the fixh has wrong value just fix it.

In [46]:
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}
print("1. Answer \n")
print(len(list1))
print(len(tuple1))
print(len(set1))
print(len(dict1))

print("\n2. Answer \n")
print(list1[:1])
print(tuple1[:1])

print("\n3. Answer \n")
for keys,value in dict1.items():
    if keys=="lion":
        print(value)
        
print("\n4. Answer \n")
list1[1]='rabbit'
print(list1)

print("\n5. Answer \n")
tuple_to_list=list(tuple1)
tuple_to_list[1]='rabbit'
print(tuple_to_list)
print("my explanation: tuple can not be change, so i convert to list")

print("\n6. Answer \n")
list1.append('monkey')
print(list1)

print("\n7. Answer \n")
list1.remove('rabbit')
print(list1)

print("\n8. Answer \n")
dict1["fish"]=0
print(dict1)

1. Answer

4
4
4
4

2. Answer

['lion']
('lion',)

3. Answer

4

4. Answer

['lion', 'rabbit', 'dog', 'fish']

5. Answer

['lion', 'rabbit', 'dog', 'fish']
my explanation: tuple can not be change, so i convert to list

6. Answer

['lion', 'rabbit', 'dog', 'fish', 'monkey']

7. Answer

['lion', 'dog', 'fish', 'monkey']

8. Answer

{'lion': 4, 'monkey': 2, 'dog': 4, 'fish': 0}